In [2]:
# For Creating Networks

import networkx as nx
import pandas as pd
import plotly.graph_objects as go

# For drawing Graphs
import matplotlib.pyplot as plt

# For generating random color
import random

G = nx.Graph()

In [3]:
df = pd.read_csv("./netflix_db.csv")
## add new features in the dataset
df["date_added"] = pd.to_datetime(df['date_added'])
df['year_added'] = df['date_added'].dt.year
df['month_added'] = df['date_added'].dt.month

df['season_count'] = df.apply(lambda x : x['duration'].split(" ")[0] if "Season" in x['duration'] else "", axis = 1)
df['duration'] = df.apply(lambda x : x['duration'].split(" ")[0] if "Season" not in x['duration'] else "", axis = 1)

In [16]:
# category1 -> movies
cat2 = {}
cnt = 1
for index, row in df.iterrows():
    for x in row['listed_in'].split(','):
        if x in cat2:
            pass
        else:
            cat2[x]=cnt
            cnt+=1

node_id = []
node_name = []
for x in cat2:
    node_id.append(cat2[x])
    node_name.append(x)

print(node_id)
print(node_name)

di = {"ID":node_id,"Nodes":node_name}

df = pd.DataFrame(di)

df

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72]
['International TV Shows', ' Korean TV Shows', ' Romantic TV Shows', 'Documentaries', ' International Movies', 'Comedies', ' Dramas', 'Dramas', ' Independent Movies', "Kids' TV", ' Thrillers', 'Crime TV Shows', ' International TV Shows', ' Spanish-Language TV Shows', 'Reality TV', 'Action & Adventure', ' Comedies', ' TV Comedies', 'Docuseries', 'Children & Family Movies', 'Anime Series', ' Stand-Up Comedy & Talk Shows', 'TV Comedies', ' TV Dramas', ' Romantic Movies', 'Stand-Up Comedy', 'Movies', ' TV Mysteries', 'Thrillers', ' Children & Family Movies', ' Classic Movies', ' TV Sci-Fi & Fantasy', ' Sci-Fi & Fantasy', " Kids' TV", 'TV Dramas', ' Anime Features', ' Docuseries', ' Sports Movies', ' Reality TV', ' TV Action & Adventure', ' Cult Movies', 'Horror Movies', 'Classic Movies', 'Cult Movies', ' Teen TV Shows', 'British TV Shows', ' Music & Musicals', 'Anime Features', ' LGBTQ Movies', 'International Movies', ' Science & Nature TV', ' Horror Movies', ' Faith & Spirituality', ' TV Horror', 'TV Action & Adventure', ' Stand-Up Comedy', ' TV Thrillers', ' Crime TV Shows', 'Sci-Fi & Fantasy', 'TV Horror', 'Classic & Cult TV', 'Stand-Up Comedy & Talk Shows', 'Romantic TV Shows', 'TV Shows', ' Documentaries', 'Romantic Movies', 'Independent Movies', 'Music & Musicals', 'Spanish-Language TV Shows', ' Classic & Cult TV', 'Sports Movies', 'TV Sci-Fi & Fantasy']

    ID                      Nodes
0    1     International TV Shows
1    2            Korean TV Shows
2    3          Romantic TV Shows
3    4              Documentaries
4    5       International Movies
..  ..                        ...
67  68           Music & Musicals
68  69  Spanish-Language TV Shows
69  70          Classic & Cult TV
70  71              Sports Movies
71  72        TV Sci-Fi & Fantasy

[72 rows x 2 columns]

In [18]:
df.to_csv('nodes.csv',index=False)